# Dependencies
node_modules/
.venv/
venv/
__pycache__/
*.py[cod]

# Production builds
frontend/build/

# Environment files
.env
*.env.local

# IDE & Editor
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db
